/*!
 * ██╗░░░░░██╗███╗░░██╗░██████╗░░░░██████╗░██╗░░░░░░█████╗░░█████╗░██╗░░██╗
 * ██║░░░░░██║████╗░██║██╔════╝░░░░██╔══██╗██║░░░░░██╔══██╗██╔══██╗██║░██╔╝
 * ██║░░░░░██║██╔██╗██║██║░░██╗░░░░██████╦╝██║░░░░░███████║██║░░╚═╝█████═╝░
 * ██║░░░░░██║██║╚████║██║░░╚██╗░░░██╔══██╗██║░░░░░██╔══██║██║░░██╗██╔═██╗░
 * ███████╗██║██║░╚███║╚██████╔╝░░░██████╦╝███████╗██║░░██║╚█████╔╝██║░╚██╗
 * ╚══════╝╚═╝╚═╝░░╚══╝░╚═════╝░░░░╚═════╝░╚══════╝╚═╝░░╚═╝░╚════╝░╚═╝░░╚═╝
 *
 * Developed by Yakov V. Ling (C) Ling • Black 2020
 * @site http://ling.black
 */

$primary-color: #0dcaf0;
$danger-color: #dc3545;
$warning-color: #ffc107;
$success-color: #198754;
$secondary-color: #6c757d;

$t_color: '#ffffff';
$variants: 'primary', 'danger', 'warning', 'success', 'secondary';

$colors: (
        'primary': $primary-color,
        'danger': $danger-color,
        'warning': $warning-color,
        "success": $success-color,
        "secondary": $secondary-color,
);

$sizes: 'none' , 'small' , 'middle' , 'large';

$paddings: (
  'none': 0, 'small': 8px, 'middle': 16px, 'large': 32px
);

@each $key, $color in $colors {
  .bg-#{$key}{
    background-color: $color !important;
  }
  .text-#{$key}{
    color: $color !important;
  }
  .border-#{$key}{
    border-color: $color !important;
  }
}